<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBTradersMarketEntities" connectionString="metadata=res://*/MarketPlaceModel.csdl|res://*/MarketPlaceModel.ssdl|res://*/MarketPlaceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBTradersMarket;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>